/node_modules
/public/frontend
/public/backend
/public/hot
/public/images
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
000-default.conf
docker-compose.yml
Dockerfile
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
